.background{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/011/020/176/small/abstract-white-and-light-gray-wave-modern-soft-luxury-texture-with-smooth-and-clean-background-free-vector.jpg');
    height: 100vh;
    display: grid;
    place-items: center;
}
.box{
    background-color: black;
    height: 50vh;
    color: white;
    display: grid;
    place-items: center;
}
.secbg{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyVKBE-f1Yohh0J6SsnvypPb6PcxyH2MaluQ&s);
    height: 100vh;
    display: grid;
    place-items: center;
    color: white;
}
