@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Racing+Sans+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

nav span {
    position: relative;
    font-family: "Racing Sans One", Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    margin-right: 30px;
    color: white;
    margin-block: -10px;

    background: linear-gradient(145deg, white, white, #00eeff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for modern browsers */
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: right;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

section {
    padding: 0px;
    text-align: center;
    min-height: 100vh;
    display: flex;
}

#about {
    background-color: #f2f2f2;
}


#contact {
    background-color: #a5a5a5;
}

h1, h2 {
    text-align: left;
    margin-left: 20px;
}

h1 {
    font-size: 6em;
    font-weight: 900;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 0;
}

h2 {
    font-size: 4em;
    font-weight: 900;
    margin-block: 0px;
}

.contact-icons {
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



svg {
    width: 50px;
    height: 50px;
    transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1);
}

svg:hover {
    fill: white;
    transform: translateY(-5px);
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* full viewport height */
    overflow: hidden;
}

.hero > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}



.hero > iframe {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: none;
}

.hero-content {
    position: absolute;
    z-index: 2;
    color: white;
    width: 100%;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.hero-content h2 {
    text-align: right;
    margin-right: 20px;
}

.hero-content a {
    pointer-events: all;
    color: white;
    cursor: pointer;
}


/* optional overlay for readability */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    transition: all 0.3s ease;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.overlay:hover {
    background: rgba(0,0,0,0.5);
}


.overlay:active {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
}

.overlay:active + .hero-content {
    opacity: 0.15;
}

img.dotd {
    filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.5));
}

iframe.dotd {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
    h1, h2 {
        text-align: center;
    }
    h1 {
        font-size: 3.5em;
    }
    
}

img.me {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#contact h2 {
    
}