.table{
    width: 100%;
    height: 100vh;
}
.td1{
    background-color: greenyellow;
    border: 2px solid black;
    width: 50%;
}
.td2{
    background-color: pink;
    border: 2px solid black;
    width: 50%;
}